.counter{
    background: black;
    width: 50%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 1rem;
}
.digit{
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
    padding: 0.5rem;
}